	<div id="content">
		<h1>Sign In</h1>
		<div class="social123">
			Sign in using social network:
			<br>
			<div class="twitter">
				<a class="btn_1" href="#">Login with Twitter</a>
			</div>
			<div class="fb">
				<a class="btn_2" href="#">Login with Facebook</a>
			</div>
		</div>
		<div id="login">
			Sign in using your registered account:
			<br>
			<input class="login user" type="text" value="Username" onfocus="if(this.value=='Username')this.value='';" onblur="if(this.value=='')this.value='Username';">
			<input class="login password" type="text" onblur="if(this.value == '') {this.type='text';this.value=this.defaultValue}" onfocus="if(this.value=='' || this.value == 'Password') {this.value='';this.type='password'}" value="Password" name="password">
		</div>
		<div class="button green">
			<a href="#">Sign In</a>
		</div>
		<div class="checkbox">
			<li>
				<fieldset>
					<legend id="title2" class="desc"></legend>
					<div>
						<span>
							<input id="Field" class="field checkbox" type="checkbox" onchange="handleInput(this);" tabindex="4" value="First Choice" name="Field">
							<label class="choice" for="Field">Keep me signed in</label>
						</span>
					</div>
				</fieldset>
			</li>
		</div>
	</div>
</div>